/* You can add global styles to this file, and also import other style files */
.primary{
  background-color: #1C626E;
  color: #fff;
  border: none;
}

.primary:hover{
  background-color: #13444d;
  color: #fff;
}
